<section>

    <h1>Qui suis-je ?</h1>


    <div class="container">

        <p>
        <div class="window-image">
            <img src="/images/Audrey.png" alt="">
        </div>
        <div class="text-overlay">
            <p>Audrey POURBAIX</p>
            <p>Kiné & Coach</p>
        </div>
        </p>

        <p>
            <br><br>
            Je suis kinésithérapeute diplômée avec mention à l’Université Catholique de Louvain (UCL).
            Passionnée de sport depuis mon plus jeune âge et ayant pour souhait un accompagnement complet
            sur le long terme de mes patients, je me suis également formée dans le coaching sportif avec
            la Physical Coaching Academy où j’ai obtenu la certification EREPS 4. <br> <br>
            Enfin, le bien-être de la femme autour de la grossesse et de l’accouchement est
            un domaine qui me tient à cœur et je me suis donc formée en kinésithérapie pré- et postnatale chez SFER
            Formations.
        </p>

    </div>

    <div class="container4">
  <h2>Mon Parcours</h2> 

  <div class="cards-container">
    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>Diplômée à l'UCL </p>
        </div>
        <div class="flip-card-back">
          <p class="description">Master en Kinésithérapie <br> avec distinction</p>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>Physical Coaching Academy</p>
        </div>
        <div class="flip-card-back">
          <p class="description">Certification EREPS 4 <br> Personal Trainer</p>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>SFER Formations </p>
        </div>
        <div class="flip-card-back">
          <p class="description">Formation : <br> "Bien-être autour de la naissance" & "Spécialisation en uro-gynécologie"</p>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>Respi-kids </p>
        </div>
        <div class="flip-card-back">
          <p class="description">Prise en charge en kiné des pathologies respiratoires pédiatriques</p>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>BEPS</p>
        </div>
        <div class="flip-card-back">
          <p class="description">Brevet de Secourisme</p>
        </div>
      </div>
    </div>
  </div>
</div>


    <h1>Où trouver mes services</h1>

    <div class="container">

        <p>
            <b>Cabinet Pluri'Elles</b> <br>
             Avenue des Paveurs 4, 1410 Waterloo <a href="https://www.google.com/maps/place/Av.+des+Paveurs+4,+1410+Waterloo/@50.7090192,4.3760032,17z/data=!3m1!4b1!4m6!3m5!1s0x47c3ce25b3307555:0xcdaf8f79eab8829f!8m2!3d50.7090192!4d4.3785781!16s%2Fg%2F11cpmc9fwz?entry=ttu&g_ep=EgoyMDI2MDExMy4wIKXMDSoASAFQAw%3D%3D"><img src="/images/maps.png"></a> <br>
            Mercredi: 8h - 12h <br>
            Jeudi: 15h - 19h <br>
            Vendredi: 14h - 18h
        </p>

        <p>
            <b>Kinésithérapie à domicile </b> <br>
            Lundi - Vendredi <br>
            Weekend: Urgences respiratoires <br> pédiatriques uniquement
        </p>

    </div>

    <div class="container2" id="contacts">

        <h1>Me contacter</h1>

        <p>
            <a href="https://www.instagram.com/authefit/"><img src="/images/instagram.png" alt="" class="reseaux"></a>
            <a href="mailto:audreykinecoach@gmail.com"><img src="/images/mail.png" alt="" class="reseaux"></a>
            <img src="/images/phone.png" alt="" class="reseaux">: +32 470 52 51 60
            <a href="https://www.google.com/maps/place/Audrey+Pourbaix+-+Kin%C3%A9sith%C3%A9rapeute+conventionn%C3%A9e/@50.7090192,4.3760032,17z/data=!3m1!4b1!4m6!3m5!1s0x47c3cf002dce2833:0x6e50ac6aa489571b!8m2!3d50.7090192!4d4.3785781!16s%2Fg%2F11mz8h1w8s?entry=ttu&g_ep=EgoyMDI2MDExMy4wIKXMDSoASAFQAw%3D%3D"><img src="/images/logo-google-account.png" alt=""></a>
        </p>

    </div>

</section>