<section>

    <h1>Qui suis-je ?</h1>


    <div class="container">

        <p>
        <div class="window-image">
            <img src="/images/Audrey.png" alt="">
        </div>
        <div class="text-overlay">
            <p>Audrey POURBAIX</p>
            <p>Kiné & Coach</p>
        </div>
        </p>

        <p>
            <br><br>
            Je suis kinésithérapeute diplômée avec mention à l’Université Catholique de Louvain (UCL).
            Passionnée de sport depuis mon plus jeune âge et ayant pour souhait un accompagnement complet
            sur le long terme de mes patients, je me suis également formée dans le coaching sportif avec
            la Physical Coaching Academy où j’ai obtenu la certification EREPS 4. <br> <br>
            Enfin, le bien-être de la femme autour de la grossesse et de l’accouchement est
            un domaine qui me tient à cœur et je me suis donc formée en kinésithérapie pré- et postnatale chez SFER
            Formations.
        </p>

    </div>

    <div class="container4">
  <h2>Mon Parcours</h2> 

  <div class="cards-container">
    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>Diplômée à l'UCL </p>
        </div>
        <div class="flip-card-back">
          <p class="description">Master en Kinésithérapie <br> avec distinction</p>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>Physical Coaching Academy</p>
        </div>
        <div class="flip-card-back">
          <p class="description">Certification EREPS 4 <br> Personal Trainer</p>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>SFER Formations </p>
        </div>
        <div class="flip-card-back">
          <p class="description">Formation : <br> "Bien-être autour de la naissance"</p>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>Respi-kids </p>
        </div>
        <div class="flip-card-back">
          <p class="description">Prise en charge en kiné des pathologies respiratoires pédiatriques</p>
        </div>
      </div>
    </div>

    <div class="flip-container">
      <div class="flip-card" tabindex="0">
        <div class="flip-card-front">
          <p>BEPS</p>
        </div>
        <div class="flip-card-back">
          <p class="description">Brevet de Secourisme</p>
        </div>
      </div>
    </div>
  </div>
</div>


    <h1>Où trouver mes services</h1>

    <div class="container">

        <p>
            <b>Kinésithérapie : Centre Médical de Lillois</b> <br>
            Grand’Route 28, 1428 Braine-l’Alleud <a href="https://www.google.com/maps/place/Maxime+de+Crombrugghe+Ost%C3%A9opathe+D.O.+Lillois+et+%C3%A0+domicile/@50.6508614,4.3715761,19.26z/data=!4m15!1m8!3m7!1s0x47c3cd88cac2f90d:0xe5f905df62a5daab!2sGrand'Route+28,+1428+Braine-l'Alleud!3b1!8m2!3d50.6508675!4d4.3715445!16s%2Fg%2F11f103kmy6!3m5!1s0x47c3cdb8883c6b83:0xf90053fe5e9c6787!8m2!3d50.6508675!4d4.3715445!16s%2Fg%2F11fs0h49sr?entry=ttu&g_ep=EgoyMDI0MDkyNC4wIKXMDSoASAFQAw%3D%3D"><img src="/images/maps.png"></a> <br>
            Mardi : 8h - 12h <br>
            Jeudi : 17h - 21h <br>
            Samedi : 8h - 12h
        </p>

        <p></p>

        <p>
            <b>Coaching : David LLoyd</b> <br>
            Drève de Lorraine 41, <a href="https://www.google.com/maps/place/David+Lloyd+Brussels/@50.7844746,4.3848218,20.13z/data=!4m15!1m8!3m7!1s0x47c3c53809633a47:0x655e3350260170c4!2sDr%C3%A8ve+de+Lorraine+41,+1180+Bruxelles!3b1!8m2!3d50.7844145!4d4.3850486!16s%2Fg%2F11l5d5v7g3!3m5!1s0x47c3c538731b7f59:0xaaa2ece44035dec!8m2!3d50.7844294!4d4.3851571!16s%2Fg%2F1hc1jdt6_?entry=ttu&g_ep=EgoyMDI0MDkyNC4wIKXMDSoASAFQAw%3D%3D"><img src="/images/maps.png"></a><br>
            1180 Bruxelles 
            
        </p>

    </div>

    <div class="container2" id="contacts">

        <h1>Me contacter</h1>

        <p>
            <a href="https://www.instagram.com/authefit/"><img src="/images/instagram.png" alt="" class="reseaux"></a>
            <a href="mailto:audreykinecoach@gmail.com"><img src="/images/mail.png" alt="" class="reseaux"></a>
            <img src="/images/phone.png" alt="" class="reseaux">: +32 470 52 51 60
        </p>

    </div>

</section>