<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">


<head>
  <link rel="icon" type="image/png" href="/images/logo-lotus.png">
  <title>Audreykinecoach</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="header">
    <header>
      <div class="nav-links">
        <a class="nav-link" href="/">Qui suis-je ?</a>
        <a class="nav-link" href="/kines">Kinésithérapie</a>
        <a class="nav-link" href="/coachings">Coaching Sportif</a>
        <a class="nav-link" href="#contacts">Contact</a>
      </div>
      <img src="/images/logo.png" alt="baniere" class="logo">
      <img src="/images/logo-lotus.png" alt="baniere" class="logo-lotus">

    </header>
  </div>


  {{{body}}}

  <footer>
    Site réalisé par Mike Pourbaix.
  </footer>

</body>

</html>